<table width="100%" border="0">
  <tr>
    <td width="3%" height="40"><img src="http://$server/hhalerts/pages/stampit/images/paperclip.gif" width="15" height="15"></td>
    <td width="97%"><a href="http://$server/hhalerts/download?cId=$campaignId&aId=$accountId&fn=$fileName"><font color="#000000">$fileName</font></a><br>
    </td>
  </tr>
</table>
