<table width="100%" border="0">
  <tr>
    <td> <hr></td>
  </tr>
  <tr>
    <td>If you no longer wish to receive these emails from $fromAddress, simply click on the following
      link: <a href="http://$server/rupeemail/unsubscribe.do?cId=$campaignId">Remove
      Me</a></td>
  </tr>
  <tr>
    <td><hr></td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td>
        <p>$postalAddress</p>
      </td>
    <!--<td width="63%"><div align="right"><a href="http://$server"><img  src="http://$server/stampit/pages/stampit/images/logo.gif" width="196" height="64"></a></div></td>-->
  </tr>
</table>