<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>RupeeMail:: Start receiving rupee mails and earn money</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  	<td>$mailBody</td>
  </tr>
  <tr>
  	<td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="270" border="0" cellspacing="2" cellpadding="10" bgcolor="#009933">
      <tr>
        <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">           
              <tr>
                <td width="10%"><img src="http://$server/rupeemail/pages/rupeemail/images/stampRupeemail.gif" alt="High level of Verification" border="0" height="87" width="107"></td>
                <td width="6%">&nbsp;</td>
                 <td><span style="font-family:Arial, sans-serif; font-size:12px; color:#000000"><a href="http://$server/rupeemail/redeem.do?fEmail=$fromEmail&amp;rEmail=<%user.email%>&amp;cId=$campaignId&amp;stamp=<%user.CampaignAttribute.Stamp%>&amp;name=<%user.firstname%>&amp;replace=<%user.CampaignAttribute.replace%>" style="color:#FF0000; font-weight:bold">Click here</a><br /> to  receive <strong>$stampValue</strong></span></td>
              </tr>
              <tr>
                <td colspan="3"><span style="font-family:Arial, sans-serif; font-size:12px; color:#000000; font-weight:bold">
					Recipient Code - <%user.CampaignAttribute.Code%>*</span></td>                
              </tr>
            </table></td>            
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
      <td><img src="http://$server/rupeemail/pages/rupeemail/images/spacer.gif" width="1" height="10" /></td>
    </tr>
    <tr>
      <td><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">*</font>
      <font face="Verdana, Arial, Helvetica, sans-serif" size="-2">
        Recipient code is known only to recipient and RupeeMail system. This code must
        be same on all RupeeMails received by the recipient.</font></td>
    </tr>
    <tr>
      <td bgcolor="#ffffff"><hr color="#999999" noshade size="1" /></td>
    </tr>
    <tr>
      <td><img src="http://$server/rupeemail/pages/rupeemail/images/spacer.gif" width="1" height="10" /></td>
    </tr>
    <tr>
      <td bgcolor="#ffffff"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">This
          is a RupeeMail where sender pays money to you for your time to
          read his mail. RupeeMail is oblige to pay you the money attached to
          the stamp once you open the mail and read it. If you no longer wish
          to receive RupeeMails from $fromName, click on the following
          link: <a href="http://$server/rupeemail/unsubscribe.do?cId=$campaignId">Remove
          Me</a></font></td>
    </tr> <tr>
      <td><img src="http://$server/rupeemail/unSealedMailOpen.do?cId=$campaignId&name=$toName&eId=$recepientMail" width="1" height="10" /></td>
    </tr>
</table>
</body>
</html>
