<table align="center"><tr><td><img src="$openSrc" width="1" height="1" /></td></tr>
</table>
$mailBody
<table align="center">
  <tr>
   </tr>  
   <tr>
      <td align="center">If you no longer wish to receive emails from $fromEmail, click on the following link: <a href="$unsubUrl">Unsubscribe</a></font></td>
    </tr>  
     <tr>
   </tr> 
      
</table>
