/****************************************************************************
* General Styles
*****************************************************************************/
* {margin: 0;padding: 0;}
body{font-size:0.75em;margin: 0;padding: 0; color:#222; font-family:Arial,Helvetica,sans-serif}
.clear {clear: both;}

a{color: #CC0000;font-size: 14px;line-height: 15px;text-decoration: none;}
a:hover{text-decoration:underline}

.brandLogo a img {border: none;}
#logo {float: left;margin:5px;}	
.logo_text{color: #333333;float: left;font-size: 26px;margin: 22px 10px;}
		
	#wrapper {
		width:100%;
		margin:0;
	}
	
	#content {
		min-height:600px;
	}

	#content-left {
		width:240px;
		float:left;
		margin:10px;
		#border:1px outset #345D6E;
	}
	#content-main {
		margin-left:260px;
		position:relative;
	}

	#menu_main, #menu_main2, #menu_main3{
	background-color:#EFF3F7;
	border:1px solid #bd2828;
	box-shadow: 7px 8px 10px -10px;
	border-radius:8px;
	min-height:400px;
   }
   #menu_main ul{margin:0;}
   #menu_main li{}
   .menu_head{background-color: #bd2828;border-radius: 6px 6px 0 0;color: #FFFFFF;font-size: 22px;padding: 6px 10px;}
   #menu_main a {padding:0 10px;border-bottom: 1px solid #CCCCCC;height: 30px;line-height: 30px; display:block; color: #222222; font-size:16px}
   #menu_main a:hover{color: #fff;text-decoration:none;background-color:#666;}
   .li_selected a{color: #fff !important; background-color:#444}
   
a.logout{color:#cc0000 !important;}
a.logout:hover{color:#fff !important;}
   /*legend{display: block;
    font-size: 18px;
    left: 10px;
    position: absolute;
    top: 20px;}*/
.heading{float: left; font-size:16px;height: 33px; padding: 4px 0 0 10px;}
.legend_14{font-size:14px}
.fieldset_delete{width:94%}
#std_attr1 td {
    color: #666666;
}
.bread_crumb_action{color:#cc0000;}
/* Button CSS*/
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background-color:#bd2828;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
	cursor:pointer;
	cursor: pointer;
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
}
.button:hover {
	background-color:#d12222;
}
.button:active {
	position:relative;
	top:1px;
}
.btnsmall {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background-color:#bd2828;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:3px 15px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
	cursor:pointer;	
	margin:3px;
}
.btnsmall:hover {
	background-color:#d12222;
}
.btnsmall:active {
	position:relative;
	top:1px;
}

td,th{padding:5px;}
th select{margin:0;}
input[type=text],input[type=password], select{border:1px solid #999; border-radius:3px;padding:5px;margin:3px}
.button-grey  {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background-color:#bd2828;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:3px 15px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
	cursor:pointer;	
	margin:3px;
}
.button-grey:hover {
	background-color:#d12222;
}
.button-grey:active {
	position:relative;
	top:1px;
}

.btnPaging  {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background-color:#bd2828;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:3px 15px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
	cursor:pointer;	
	margin:3px;
	float:right; 
}
.btnPaging:hover {
	background-color:#d12222;
}
.btnPaging:active {
	position:relative;
	top:1px;
}

// Table style
tr:nth-child(even) {
//	background: #CCC;
}
tr:nth-child(odd)  {
  //  background: #FFF;
} 

table
{
//border: 1px solid #294D5A;
}

th {
	background: #777;
	color:#FFFFFF;
}


#tbl {
       	text-align: left;
       /* font-family:Verdana, Arial, Helvetica, sans-serif;*/
        font-size:12px;
		text-align:-moz-center;
		}

/*#tbl_form, #tbl_form_2 {
       	text-align: left;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size:12px;
		text-align:-moz-center;
		width:80%;
		}*/
		
#buttons a {
        background: url(images/menu.gif);
}
#buttons a {
        background-position: 10px 0;
        color: #2a4f5e;
        display: block;
        font-size: 14px;
        height: 36px;
        line-height: 36px;
        margin: 0;
        padding: 0 0 0 10px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #fff;
}
#buttons a {
        background-position: 15px 0;
        display: block;
        margin: 0;
        padding: 0 10px 0 0;
}

#buttons a:hover  {
        background-position: 15px -37px;
        }

label.error, label.error {
        /* remove the next line when you have trouble in IE6 with labels in list */
        color: red;
        font-style: italic
}

#main_div {
	width: 99%;
} 
#loading-popup-box {
    display: none;
    background-image: url(/images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
	margin-left:230px;
    height: 400px;
}


fieldset {border: none; float:left;margin-left: 10px;width:98%; }

fieldset.upload {
	border: 1px dotted #006666;
   clear: left;
   padding: 15px;
   width: 90%;

}
   
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
	cursor:pointer; 
	opacity:0.75;
}
IMG.displayed:hover{opacity:1;} 
	
#create_plist:hover, #create_folder:hover, #create_segments:hover
{
    background-position: 2px 0px;
}

#create_attribute:hover, #export_profiles:hover, #export_sublist:hover, #upload_profiles:hover
{
    background-position: 2px -2px;
}
.act_attribute
{
    width: 102% !important;
}

/* #upload_profiles
 {
	 background: url("/images/btn_3.png") no-repeat scroll 2px -40px transparent;
    float: right;
   padding: 8px 21px 10px 18px;
    color:#FFFFFF;
	font-weight:bold;
	cursor:pointer;
}*/

#plist_next
{
	 background: url("/images/menu.gif") no-repeat scroll left bottom transparent;
    float: left;
    padding: 10px 25px;
    color:#FFFFFF;
	font-weight:bold;
	margin-left: 10px;
	cursor:pointer;
}	

/*#update_subscriber
{
         background: url("/images/menu.gif") no-repeat scroll left bottom transparent;
    float: right;
    padding: 10px 25px;
    color:#FFFFFF;
        font-weight:bold;
        margin-right: 151px;
        cursor:pointer;
}*/


#plist_prev
{
	background: url("/images/menu.gif") no-repeat scroll left bottom transparent;
    float: left;
    padding: 10px 25px;
    color:#FFFFFF;
	font-weight:bold;
	margin-left: 478px;
	cursor:pointer;
}	

/*#update_plist, #save_plist, #save_fileupload, #add_segment, #save_folder, #add_aggr
{
    background: url("/images/btn_2.png") no-repeat scroll left bottom transparent;
    float: left;
    padding: 10px 30px;
    color:#FFFFFF;
    font-weight:bold;
    margin-left: 480px;
    cursor:pointer;
}*/

#update_plist:hover, #save_plist:hover, #save_fileupload:hover, #add_segment:hover, #save_folder:hover, #add_aggr:hover
{
    background-position: 2px 0px;
}

/*#do_action, #do_action2
{
	background: url("/images/btn_2.png") no-repeat scroll left bottom transparent;
    float: left;
    padding: 10px 32px 10px 26px;
    color:#FFFFFF;
	font-weight:bold;
	margin-left: 150px;
	cursor:pointer;
}*/

/*#save_fileupload, #save_ftp_fileupload
{
         background: url("/images/menu.gif") no-repeat scroll left bottom transparent;
    float: left;
    padding: 10px 25px;
    color:#FFFFFF;
        font-weight:bold;
        margin-left: 445px;
        cursor:pointer;
}

#cancel_fileupload, #clear_segment, #cancel_ftp_fileupload, #boxcancel, .boxcancel, #clear_aggr
{
    background: url("/images/btn_2.png") no-repeat scroll left bottom transparent;
    float: left;
   padding: 10px 39px 10px 25px;
    color:#FFFFFF;
    font-weight:bold;
    margin-left: 10px;
    cursor:pointer;
}*/

select {
width: auto;
}

/*#save_attribute
{
	 background: url("/images/menu.gif") no-repeat scroll left bottom transparent;
    float: left;
    padding: 10px 25px;
    color:#FFFFFF;
	font-weight:bold;
	margin-left: 480px;
	cursor:pointer;
}*/

#cb_open, #cb_close, #validate, #cb_or, #create_rule, #create_sub_list
{
	background: #BD2828;
    float: left;
	clear:both;
	text-align:center;
    color:#FFFFFF;
	font-weight:bold;
	cursor:pointer;
	line-height:26px;
	width:84px;
	margin:3px;	
}

#cb_open, #cb_close{ width:20px; clear:none;}

#top_container, #top_aggr
{
	background-color:#fcfcfc;
	float: left;
    padding: 10px 10px 10px 0;
	border: 1px solid #BD2828;
	width: 81%;
	box-shadow: 5px 5px 5px -4px;
	margin-bottom: 15px;
	font-size: 0.9em;
}

#top_container ul li, #top_aggr ul li
{
    float: left;
    width: 100%;
    box-shadow: 5px 5px 5px -5px;
    margin-bottom: 9px;
	cursor:move; 
}

ul#topc_ul li:hover
{
    background-color: #F99403;
}

#top_container ul li div, #top_aggr ul li div
{
	width: auto;
	float: left;
	padding: 10px 10px 10px 5px
}

#top_container ul li span, #top_aggr ul li span
{
	width: 110px;
	float: left;
	display:none;
	padding: 0 10px;
}

#top_container ul li div ol li, #top_aggr ul li div ol li
{
	width: auto;
}

#top_aggr
{
    height: 10%;
    padding: 0px 25px !important;
}

#top_aggr ul
{
    //margin-top: -10px;
}


#grp_ul
{
    height: 35px;
}

#tools
{
	float: left;
	margin-left:16px;
	border: 1px solid #BD2828;
	width: 90px;
	margin-top: 1px;
}

#bulb
{
	background: url("/images/bulb_green.jpg") no-repeat scroll left bottom transparent;
	float: right;
	padding: 10px 25px;
	width: 13%;
}

#trash, #validation_result
{
	float: left;
    padding: 10px 25px;
	width: 70%;
	//border: 1px solid #006666;
	
}

#save_attr
{
	 background: url("/images/menu.gif") no-repeat scroll left bottom transparent;
    float: left;
    padding: 10px 25px;
    color:#FFFFFF;
	font-weight:bold;
	margin-left: 225px;
	cursor:pointer;
}


/*#cancel_attribute
{
	 background: url("/images/menu.gif") no-repeat scroll left bottom transparent;
    float: left;
    padding: 10px 25px;
    color:#FFFFFF;
	font-weight:bold;
	margin-left: 10px;
	cursor:pointer;
}*/

#subscribers_next
{
	 background: url("/images/menu.gif") no-repeat scroll left bottom transparent;
    float: left;
    padding: 10px 25px;
    color:#FFFFFF;
	font-weight:bold;
	margin-left: 10px;
	cursor:pointer;
}	


#subscribers_prev
{
	background: url("/images/menu.gif") no-repeat scroll left bottom transparent;
    float: left;
    padding: 10px 25px;
    color:#FFFFFF;
	font-weight:bold;
	margin-left: 514px;
	cursor:pointer;
}

/*#page_next, #cancel_update_sub
{
    float: right;
}	*/

#create_plist
{
   /* float: right;
	cursor:pointer;
	margin-right:10px;
	margin-bottom:10px;*/
}

#create_segments, #create_folder
{
    float: right;
	cursor:pointer;
	margin-right:10px;
	margin-bottom:10px;
}



#create_attribute {float: right;}

/* #export_profiles, #export_sublist
 {
         background: url("/images/btn_3.png") no-repeat scroll 2px -40px transparent;
    float: right;
    margin: 0px 13px 0 0;
   padding: 8px 21px 10px 18px;
    color:#FFFFFF;
        font-weight:bold;
        cursor:pointer;
}*/

#page_next_only, #page_prev_only {
    float: right;
}

.pnext {
 background: url("/images/btn_2.png") no-repeat scroll left bottom transparent;
    float: left;
    padding: 10px 25px;
    color:#FFFFFF;
    font-weight:bold;
    cursor:pointer;
}	

/*#page_prev,  #update_subscriber
{
    float: right;
}*/

ul 
{
    list-style-type:none;
    margin-left: 10px;
    text-align: left;
}

ul li h4 
{
    cursor:pointer;
}

ul li h4 a
{
   text-decoration: none;
   color: #0A0905;
}

ul li h4:hover 
{
   cursor:pointer;
   color: #CD6500;
}

#custom_error
{
    background: url("/images/warning.png") no-repeat scroll left 0 transparent;
    color:#FFFFFF;
    font-weight:bold;
    color: #FF0000;
    height: 10%;
}

#error_cnt, #sublist-error
{
    color: #cc0000;
    display: block;
    float: left;
    font-size: 14px;
    margin: 0 auto;
    padding: 10px 0 0;
    text-align: center;
    width: 100%;
}

.delete_profile_list, .delete_attribute, .delete_rule, .delete_record, .delete_act_record, .clone_plist, .delete_aggr
{
text-align:center;
color:#006666;
font-weight:bold;
cursor:pointer;
margin-left: 10px;
}

#action_1
{
	margin-top: 10px;
}

.clone_plist
{
   /*background: url("/images/clone.png") no-repeat scroll center 0 transparent;
   height: 25px;*/
}


/*.get_custom_attributes:hover, .get_activity_data:hover, .update_plist:hover, .get_profile_data:hover, .get_segments:hover, .edit_segment:hover, .edit_subscriber:hover
{
    background: url("/images/add_view_overlay.png") no-repeat scroll center 0 transparent;
}*/

legend {
    color: #333333;
    font-size: 18px;
    margin: 3px 0;
}
.modal {
    position:fixed;
    top:-600px;
    left:30%;
    right:20%;
    background-color:#fff;
    color:#7F7F7F;
    padding:10px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
  }

  .overlay{
    background:transparent url(/images/overlay.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
   }
   
   .modal h1{
            border-bottom: 1px dashed #7F7F7F;
            margin:-20px -20px 0px -20px;
            padding:10px;
            background-color:#FFEFEF;
            color:#EF7777;
            -moz-border-radius:20px 20px 0px 0px;
            -webkit-border-top-left-radius: 20px;
            -webkit-border-top-right-radius: 20px;
            -khtml-border-top-left-radius: 20px;
            -khtml-border-top-right-radius: 20px;
        }
    a.boxclose{
            float:right;
            width:16px;
            height:16px;
            background:transparent url(images/cancel.png) repeat top left;
            margin-top:-7px;
            margin-right:-7px;
            cursor:pointer;
			opacity:0.7;
        }

  #act-search-button, #search-button {
   background: url("/images/search.gif") no-repeat scroll left bottom transparent;
    color: #FFFFFF;
    display: inline-block;
    height: 25px;
	float:right;
	right:-3px;
    position: relative;
    top: -30px;
    width: 25px;
    cursor: pointer;
  }

  #search_cnt
  {
	height: 28px;
	width:200px;
	float: right;
	margin: 0 17px;
  }

  #search_cnt input
  {
	height: 27px;
	width:200px;
	border: 1px solid #BD2828;
	padding:0;
	text-indent:4px;
  }

.cont1, .cont3
{
	width: 100px !important;
	overflow: hidden;
}

.acont1, .acont3
{
	//width: 90px !important;
	overflow: hidden;
}

 .cont2,  .acont2
 {
	width: 10px !important;
 }
 
 #exists
 {
    width: 65px !important;
 }

#aggr_aggr1, #agfl_id, #aggr_aggr2
{
    padding: 10px 0 !important
}

.over {
    background-color: #cedae3;
}
 
.out {
    background-color: #a6bcce;
}

#widgetField {
    background: url("/images/field.png") repeat scroll 0 0 transparent;
    height: 26px;
    overflow: hidden;
    position: relative;
    width: 290px;
}

#widgetField span {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    height: 26px;
    left: 5px;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 250px;
}

#widgetField a {
    display: block;
    height: 26px;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-indent: -3000px;
    top: 0;
    width: 26px;
}


#widgetCalendar {
    background: none repeat scroll 0 0 #B9B9B9;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 26px;
    width: 588px;
}

div.datepicker {
    cursor: default;
    display: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 147px;
    left: 0;
    position: absolute;
    top: 0;
    width: 196px;
}