.button {
    background-color: #BD2828;
    border: 1px solid #D83526;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 #F29C93 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #B23E35;
}
.heading {
    float: left;
    font-size: 16px;
    height: 33px;
    padding: 21px 0 0 10px;
}
select{
	width:150px;
}
label{
	font-size:12px;
	
}
body {font-family:Arial,Verdana, Helvetica, sans-serif; font-size:0.75em;}
.tab-box { 
  border-bottom: 1px solid #DDD;
  padding-bottom:5px;
  padding-top:5px;
 }
.tab-box a {
  border:1px solid #DDD;
  color:#666666;
  padding: 5px 5px;
  text-decoration:none;
  background-color: #EEEEEE;
  font-size:12px;
  font-weight:bold;
  font-family:Arial, Helvetica, sans-serif;
}
.tab-box a.activeLink { 
  background-color: #777777; 
  border-bottom: 0; 
  padding: 6px 15px;
  color:#FFFFFF;
}
.tabcontent { border: 1px solid #ddd; border-top: 0; padding: 5px; font-size:12px;}
.hide { display: none;}

.small { color: #999; margin-top: 100px; border: 1px solid #EEE; padding: 5px; font-size: 9px; font-family:Verdana, Arial, Helvetica, sans-serif; }

form {
    font-size: 12px;
	float:left;
}
    .blockbkg {
  opacity: 90%;

    filter:alpha(opacity=90);
     
      width: 100%;
      min-height: 100%;
      overflow: hidden;
      float: absolute;
      position: fixed;
      top: 0;
      left: 0;
      color: white;
    }
    .cont {
      background-color: white;
      color:#7F7F7F;
      font-size: 13px;
      border: 2px solid #CCCCCC;
      padding: 14px;
      display:block;
      position: absolute;
      top: 10%;
      left: 35%;
      width: 400px;
      height:289px;
      /*overflow-y: scroll;*/
    }
	.cont4 {
      background-color: white;
      color:#7F7F7F;
      font-size: 13px;
      border: 2px solid #CCCCCC;
      padding: 14px;
      display:block;
      position: absolute;
      top: 10%;
      left: 35%;
      width: 400px;
      height: 357px;
      /*overflow-y: scroll;*/
    }
    .closebtn {
      width: 20px;
      height: 20px;
      padding: 0px;
      margin: -10px;
      float: right;
      top: 0;
      background-image: url(x.png);
      background-repeat: no-repeat;
      background-position:center;
    
      display: block;
    }
    .closebtn:hover {
      cursor: pointer;
    }
    .normal {
      background-color: lightblue;
      width: 900px;
      min-height: 200px;
      padding: 20px;
    }
.button-grey {
    background-color: #BD2828;
    border: 1px solid #D83526;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 #F29C93 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    margin: 3px;
    padding: 3px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #B23E35;
}
