@charset "utf-8";
/* CSS Document */

body {
	background: #fff;
	}
	
	
* {
	margin:  0px;
	padding: 0px;
	}

a {
	text-decoration: none !important;
	outline: 0px;
	}

	
ul, ol {
	margin: 0px;
	}
	
.container {
	max-width: 960px;
	}
	
	
.top50 {
	margin-top: 50px;
	}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: auto;
    overflow-x: hidden;
    max-height:320px;
    min-height:300px;
    padding: 0px;
}

.visitorpanel-body
{
    overflow-y: auto;
    overflow-x: hidden;
    max-height:400px;
    min-height:300px;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.chatbox
{
position:fixed;
bottom:0px;
right:50px;
width:250px;
float:left;
}
.chatbox_header
{
position:fixed;
bottom:0px;
right:50px;
width:250px;
display:none;
}
.chatbox_login
{
position:fixed;
bottom:0px;
right:50px;
width:250px;
}
.chatbox_header_login
{
position:fixed;
bottom:0px;
right:50px;
width:250px;
display:none;
}
.chatbox_visitor
{
position:fixed;
bottom:0px;
right:50px;
width:715px;
float:left;
}
.chatbox_visitor_header
{
position:fixed;
bottom:0px;
right:50px;
width:250px;
display:none;
}
.panelvistor-footer
{
padding:0px;
width:300px;
}
.panel-footer
{
padding:0px;
}
.chatbox_arrow {
	position: relative;
	background: #fff;
	border: 1px solid #428BCA;
	max-width:180px;
	display: inline-block;
	margin-left:10px;
	min-height:25px;
	padding:5px;
	margin-top:10px;
}
.chatbox_arrow:after, .chatbox_arrow:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.chatbox_arrow:after {
	border-color: rgba(85, 213, 132, 0);
	border-right-color: #fff;
	border-width: 10px;
	margin-top: -10px;
}
.chatbox_arrow:before {
	border-color: rgba(245, 191, 145, 0);
	border-right-color: #428BCA;
	border-width: 12px;
	margin-top: -12px;
}
#date_time
{
	margin-left:7px;
	color:#ccc;
	font-size:9px;
}
.emotic {
background: no-repeat url(../img/emotics.png) -22px -25px;
width: 14px;
height: 14px;
margin-top:5px;
margin-right:5px;
float:right;
cursor:pointer;
}
.arrow_box_emotics {
	position: fixed;
	background: #fff;
	border: 1px solid #428BCA;
	width:150px;
	height:80px;
	bottom:75px;
	overflow-y: auto;
    overflow-x: hidden;
    right:0%;
}
.arrow_box_emotics1 {
	position: fixed;
	background: #fff;
	border: 1px solid #428BCA;
	width:150px;
	height:80px;
	bottom:75px;
	overflow-y: auto;
    overflow-x: hidden;
    right: 560px;
}
.arrow_box_emotics:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	
}

.arrow_box_emotics:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box_emotics:before {
	border-color: rgba(189, 40, 40, 0);
	border-top-color: #428BCA;
	border-width: 13px;
	margin-left: -13px;
}
.emoticlist{
list-style-type: none;
display: inline;
padding:10px;
cursor: pointer;
}
.octicon-tag {
margin: 5px 0 0 0;
padding: 0;
float:left;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

hr {
margin-top: 5px;
margin-bottom: 5px;
border: 0;
border-top: 1px solid #eee;
}
img.social{
	cursor: pointer;
}
.panel
{
margin-bottom:1px;	
}
/*
.nav-tabs>li>a {
  background-color: #428bca; 
  border-color: #777777;
  color:#fff;
}*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e56707), color-stop(1, #ffa200));
  background: -moz-linear-gradient(center top, #e56707 5%, #ffa200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e56707', endColorstr='#ffa200');
  background-color: #e56707;
  color:#fff;
}
 
.nav-tabs>li>a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e56707), color-stop(1, #ffa200));
  background: -moz-linear-gradient(center top, #e56707 5%, #ffa200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e56707', endColorstr='#ffa200');
  background-color: #e56707;
  color:#fff;
}
.nav-tabs>li.active>a{
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e56707), color-stop(1, #ffa200));
  background: -moz-linear-gradient(center top, #e56707 5%, #ffa200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e56707', endColorstr='#ffa200');
  background-color: #e56707;
}
.nav>li>a {
position: relative;
display: block;
padding: 5px 10px;
}
.buttonOrange {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffa200), color-stop(1, #e56707));
  background: -moz-linear-gradient(center top, #ffa200 5%, #e56707 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa200', endColorstr='#e56707');
  background-color: #ffa200;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  text-indent: 0;
  padding: 0 10px;
  border: 1px solid #e07325;
  display: inline-block;
  color: #ffffff;
  font-family: open_sansregular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  height: 34px;
  line-height: 34px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px -1px 0px #e46707;
}
.buttonOrange:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e56707), color-stop(1, #ffa200));
  background: -moz-linear-gradient(center top, #e56707 5%, #ffa200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e56707', endColorstr='#ffa200');
  background-color: #e56707;
  color:#fff;
}
.buttonOrange:active {
  position: relative;
  top: 1px;
}
.nav-tabs>li>a {
	margin-right:0px;
	}
	.panel-add
{
    overflow-y:hidden;
    overflow-x: hidden;
    max-height:100px;
    min-height:100px;
    border: solid 1px;
    border-color: #428bca;
    width: 279px;
}
.panel-chat
{
    overflow-y: auto;
    overflow-x: auto;
    max-height:220px;
    min-height:200px;
    
}