body{
background:#FFFFFF;
/* overflow:hidden; */
font:normal 12px Arial, Helvetica, sans-serif; color:#000;
} 
.headerpanel{
float:left;
background-color: #99BBE8;
width:100%;
height:7%;
border-bottom:1px solid #000000;
}
.contentpanel{
float:left;
margin:0px;
width:100%;
height:100%;
background:#FFF;
}
.footerpanel
{
float:left;
background-color: #99BBE8;
margin:0px 0 0 0px;
padding:0px;
display:inline;
width:100%;
height:5%;
text-align:center;
font: bold 11px verdana,Helvetica, sans-serif;
color:#FFFFFF;
}
.contentwestpanel
{
position: absolute;  
float:left;
margin:0px;
width:15%;
height:100%;
border-right: solid 2px #99BBE8;

}
.contentcenterpanel
{
float:right;
margin-right:-4px;
width:85%;
height:100%;
}
.headerlog{
font: bold 11px verdana ,Helvetica, sans-serif;
font-size: 11px;
color: black;
float:right;
margin-right:20px;
margin-top:10px
}
.bclog{
font: bold 11px verdana ,Helvetica, sans-serif;
font-size: 11px;
color: blue;
float:right;
margin-right:20px;
margin-top:10px
}
#panel1{
	position: relative;
	background-color: #FFF;
	text-align:left;
	border:1px solid #99BBE8;
	width:85%;
	
}
#mypanel1{
	position: relative;
	background-color: grey;
	text-align:left;
	border:0px solid grey;
	width:90%%;
	
}
#panel2 {
	position: relative;
	background-color: #FFF;
	border:1px solid #99BBE8;
	width:85%;
}
#panel3 {
	position: relative;
	background-color: #FFF;
	border:1px solid #99BBE8;
}
table{font-size:12px; font-weight:normal;}
html{ font-size:12px; font-weight:normal;}
font{ font-size:12px; font-weight:normal;}
input{font-size:12px; font-weight:normal;}
textarea{font-size:12px; font-weight:normal;}
list{font-size:12px; font-weight:normal;}

#loginpanel{
	position: relative;
	margin-left:20px;
    margin-right:20px;
	background-color: #FFF;
	padding-top:150px;
	padding-bottom:50px;
	width:60%;
	height:50%;
	text-align:left;
	float:right;
	  }
.createlist
{
position: relative;
margin-left:10px;
margin-right:10px;
text-align:left;
background-color:#FFF;
padding-top:100px;
width:40%;
height:40%;
margin-top:100px;
}
#addrecord{
	position: relative;
	margin-left:20px;
    margin-right:20px;
	margin-top:20px;
	background-color: #FFF;
	width:30%;
	height:50%;
	text-align:left;
}
#runconfig
{
position: relative;
	margin-left:10px;
    margin-right:10px;
	margin-top:100px;
	background-color: #FFF;
	//border:2px solid #3a7184;
	width:40%;
	height:60%;
	text-align:left;
}
/********************************BredCrumbs*****************/

.breadcrumb2 {
   font: 15px Helvetica,Arial,Sans-Serif;
   list-style: none outside none;
   overflow: hidden;
   margin-top:5px;
   margin-left:-30px;
}
.breadcrumb2 li {
   float: left;
}
.first {
   padding-left: 5px !important;
}
.breadcrumb2 li a {
   background-color: #bd2828;
   color: white;
   display: block;
   float: left;
   padding: 5px 0 5px 40px;
   position: relative;
   text-decoration: none;
}
.breadcrumb2 li a:after {
   border-bottom: 50px solid transparent;
   border-left: 29px solid #bd2828;
   border-top: 50px solid transparent;
   content: " ";
   display: block;
   height: 0;
   left: 100%;
   margin-top: -50px;
   position: absolute;
   top: 50%;
   width: 0;
   z-index: 2;
}
.breadcrumb2 li a:before {
   border-bottom: 50px solid transparent;
   border-left: 30px solid white;
   border-top: 50px solid transparent;
   content: " ";
   display: block;
   height: 0;
   left: 100%;
   margin-left: 1px;
   margin-top: -50px;
   position: absolute;
   top: 50%;
   width: 0;
   z-index: 1;
}
.breadcrumb2 li:first-child a {
   padding-left: 5px;
}

 /**************JobPage*****************/
 #jobPage
 {
 width:1130px;
 height:630px;
 background-color: #F6F6F6;
 text-align:left;
 margin-top:-10px;
 }
 /* Select fields JobPage CSS starts here */
#jobPage label {color: #666;font-size: 14px;}
#jobPage select{background: none repeat scroll 0 0 #FBFBFB; min-width:200px; border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 16px;font-weight: normal;margin-bottom: 16px;margin-right: 6px;outline: 0 none;padding: 3px;}
#jobPage input{background: none repeat scroll 0 0 #FBFBFB;  border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 16px;font-weight: normal;margin-bottom: 16px;margin-right: 6px;outline: 0 none;padding: 3px;}
#jobPage textarea{background: none repeat scroll 0 0 #FBFBFB;  border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 16px;font-weight: normal;margin-bottom: 16px;margin-right: 6px;outline: 0 none;padding: 3px;}

#jobPage select:focus{border-color:#bbbbbb;}
#jobPage select option{padding:1px 0;}
#jobPage .btnsmall {
    background-color: #BD2828;
    border: 1px solid #D83526;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 #F29C93 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    margin: 3px;
    padding: 3px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #B23E35;
}
.jobpagefields
{
margin-left:50px;
margin-top:5px;
}
.jobPageButtons
{
  margin-left:150px; 
	margin-top:10px;
	padding-top:400px;
}
/*************partnerPageCSS start******************/
#userpartnerform .btnsmall {
    background-color: #BD2828;
    border: 1px solid #D83526;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 #F29C93 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    margin: 3px;
    padding: 3px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #B23E35;
}
#userpartnerform label {color: #666;font-size: 14px;}
#userpartnerform input{background: none repeat scroll 0 0 #FBFBFB;  border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 16px;font-weight: normal;margin-bottom: 16px;margin-right: 6px;outline: 0 none;padding: 3px;}
/*************partnerPageCSS close******************/

/*************User Page css Strats Here*****************/
#userform label {color: #666;font-size: 14px;}
#userform input{background: none repeat scroll 0 0 #FBFBFB;  border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 16px;font-weight: normal;margin-bottom: 16px;margin-right: 6px;outline: 0 none;padding: 3px;}
#userform .btnsmall {
    background-color: #BD2828;
    border: 1px solid #D83526;
   -webkit-border-radius: 3px 3px 3px 3px;
   -moz-border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 #F29C93 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    margin: 3px;
    padding: 3px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #B23E35;
}
/*************masterdatarapleaf Page css End Here*****************/
 #masterdatarapleaf .btnsmall {
    background-color: #BD2828;
    border: 1px solid #D83526;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 #F29C93 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    margin: 3px;
    padding: 3px 10px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #B23E35;
    margin-top:-8px;
}
#masterdatarapleaf label {color: #666;font-size: 14px;}
#masterdatarapleaf input{background: none repeat scroll 0 0 #FBFBFB;  border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 16px;font-weight: normal;margin-bottom: 16px;margin-right: 6px;outline: 0 none;padding: 5px;}
/*************partnerPageCSS close******************/

 .btnsmall {
    background-color: #BD2828;
    border: 1px solid #D83526;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 #F29C93 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    margin: 3px;
    padding: 3px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #B23E35;
}

/*************email config css************/
#emailconfig label {color: #666;font-size: 14px;}
#emailconfig select{background: none repeat scroll 0 0 #FBFBFB; min-width:200px; border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 16px;font-weight: normal;margin-bottom: 15px;margin-right: 5px;outline: 0 none;padding: 3px;}
#emailconfig input{background: none repeat scroll 0 0 #FBFBFB;  border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 16px;font-weight: normal;margin-bottom: 15px;margin-right: 5px;outline: 0 none;padding: 3px;}
#emailconfig textarea{background: none repeat scroll 0 0 #FBFBFB;  border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 16px;font-weight: normal;margin-bottom: 15px;margin-right: 5px;outline: 0 none;padding: 3px;}
/****************partnerbilling table css***************/
#partnercreditstable label {color: #666;font-size: 14px;}
#partnercreditstable input{background: none repeat scroll 0 0 #FBFBFB;  border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 15px;font-weight: normal;margin-bottom: 5px;margin-right: 5px;outline: 0 none;padding:3px;}
/****************listmangement css *******************/
#listmgt label {color: #666;font-size: 14px;}
#listmgt select{background: none repeat scroll 0 0 #FBFBFB; min-width:200px; border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 16px;font-weight: normal;margin-bottom: 16px;margin-right: 6px;outline: 0 none;padding: 3px;}
#listmgt input{background: none repeat scroll 0 0 #FBFBFB;  border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 16px;font-weight: normal;margin-bottom: 16px;margin-right: 6px;outline: 0 none;padding: 3px;}
#listmgt textarea{background: none repeat scroll 0 0 #FBFBFB;  border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 16px;font-weight: normal;margin-bottom: 16px;margin-right: 6px;outline: 0 none;padding: 3px;}


