body{
margin-top:0px;
margin-left:05px;
margin-bottom:0px;
margin-right:05px;
padding:0;
background:#FFFFFF;
overflow:inherit;
font:normal 12px/24px Arial, Helvetica, sans-serif; color:#000; line-height:17p
}
.headerpanel{
float:left;
background-color: #99BBE8;
width:100%;
height:7%;
border-bottom:1px solid #000000;
}
.contentpanel{
float:left;
margin:0px;
width:100%;
height:100%;
background:#FFF;
}
.footerpanel
{
float:left;
background-color: #99BBE8;
margin:0px 0 0 0px;
padding:0px;
display:inline;
width:100%;
height:5%;
text-align:center;
font: bold 11px verdana,Helvetica, sans-serif;
color:#FFFFFF;
}
.contentwestpanel
{
position: absolute;  
float:left;
margin:0px;
width:15%;
height:755px;

}
.contentcenterpanel
{
float:right;
width:85%;
height:100%;
border-left: solid 2px #99BBE8;
}
.headerlog{
font: bold 11px verdana ,Helvetica, sans-serif;
font-size: 11px;
color: black;
float:right;
margin-right:20px;
margin-top:10px
}
.bclog{
font: bold 11px verdana ,Helvetica, sans-serif;
font-size: 11px;
color: blue;
float:right;
margin-right:20px;
margin-top:10px
}
#panel1{
	position: relative;
	background-color: #FFF;
	text-align:left;
	border:1px solid #99BBE8;
	width:85%;
	
}
#mypanel1{
	position: relative;
	background-color: grey;
	text-align:left;
	border:0px solid grey;
	width:90%%;
	
}
#panel2 {
	position: relative;
	background-color: #FFF;
	border:1px solid #99BBE8;
	width:85%;
}
#panel3 {
	position: relative;
	background-color: #FFF;
	border:1px solid #99BBE8;
}
table{font-size:12px; font-weight:normal;}
html{ font-size:12px; font-weight:normal;}
font{ font-size:12px; font-weight:normal;}
input{font-size:12px; font-weight:normal;}
textarea{font-size:12px; font-weight:normal;}
list{font-size:12px; font-weight:normal;}

#loginpanel{
	position: relative;
	margin-left:20px;
    margin-right:20px;
	background-color: #FFF;
	padding-top:150px;
	padding-bottom:50px;
	width:60%;
	height:50%;
	text-align:left;
	float:right;
	  }
.createlist
{
position: relative;
margin-left:10px;
margin-right:10px;
text-align:left;
background-color:#FFF;
padding-top:100px;
width:40%;
height:40%;
margin-top:100px;
}
#addrecord{
	position: relative;
	margin-left:20px;
    margin-right:20px;
	margin-top:20px;
	background-color: #FFF;
	width:30%;
	height:50%;
	text-align:left;
}
#runconfig
{
position: relative;
	margin-left:10px;
    margin-right:10px;
	margin-top:100px;
	background-color: #FFF;
	//border:2px solid #3a7184;
	width:40%;
	height:60%;
	text-align:left;
}
}