@charset "utf-8";
/* CSS Document */
* {margin: 0;padding: 0;}
body{font-size:0.75em;margin: 0;padding: 0; color:#222; font-family:Arial,Helvetica,sans-serif}
.clear {clear: both;}
a{color: #333;font-size: 14px;text-decoration: none;}
a:hover{text-decoration:none;cursor:pointer;}
#header {border-bottom: 2px solid #666666;margin: 0 auto;overflow: hidden;padding: 0;width: 100%;}
#logo {float: left;margin:5px;}	
.logo_text{color: #333333;float: left;font-size: 26px;margin: 22px 10px;}
.header_right {color: #333333;float: right;font-size: 14px;margin: 10px 10px 0 0;}
.welcome{float:right}
#welcome h4{font-size: 18px; font-weight:normal}
#welcome a{font-size: 14px; color:#666; font-weight:normal}
#navigation{float:right; background-color:#efefef; border-radius:8px; margin-top:10px;clear:both}
#navigation a { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color: #333333;font-size: 13px; font-weight:bold; padding: 8px 14px; float:left; border-right:1px solid #ccc;}
#navigation a:hover {text-decoration:none; color:#fff; background:#CC0000;}
#navigation a.selected {color:#fff; background:#CC0000;}
.left-nav{border-radius:8px 0 0 8px;}
.right-nav{border-radius:0 8px 8px 0; border-right:none !important;}
#wrapper {width:100%;margin:0;}
.content{float:left; width:100%; }
#content {min-height:500px;}
#content-left {	width:240px;float:left;margin:10px;	#border:1px outset #345D6E;}
#content-main {position:relative;}
.workflow{text-align:center; margin-top:20px;}
.arrow{margin:0 20px}

/* Login Form CSS starts here */
#login_form {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #E5E5E5;box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
font-weight: normal;margin: 40px auto;padding: 26px 24px; width:400px}
#login_form label {color: #777777;font-size: 14px;}
#login_form input[type="text"], input[type="password"]{background: none repeat scroll 0 0 #FBFBFB;border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 24px;font-weight: 200;line-height: 1;margin-bottom: 16px;margin-right: 6px;margin-top: 4px;outline: 0 none;padding: 3px;width: 97%;}
#login_form input[type="text"]:focus, input[type="password"]:focus{border-color:#bbbbbb;}
/*#login_form input[type="submit"]{color:#333; padding:4px 8px; border-radius:6px; border:1px solid #999; cursor:pointer; font-weight:bold}*/
#login_form input[type="submit"] {
    background-color: #CC0000;
    border: medium none;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 4px 10px;
}
/*#login_form input[type="submit"]:hover{color:#fff; background-color:#999;}*/
.forgotpassword{float:right;color:#EE0000}
#forgotTable{display:none}
.delete{border:none}
#login_form input[type="submit"]:hover {
    background-color: #EE0000;
    color: #FFFFFF;
}

/* Login Form CSS ends here */

/* .contents form starts here */
.contents label {color: #666;font-size: 14px;}
.contents input[type="text"], textarea{background: none repeat scroll 0 0 #FBFBFB;border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 18px;font-weight: normal;line-height: 1;margin-bottom: 16px;margin-right: 6px;margin-top: 4px;outline: 0 none;padding: 6px;}
.contents input[type="text"]:focus, textarea:focus{border-color:#bbbbbb;}
.contents input[type="file"]{background: none repeat scroll 0 0 #FBFBFB;border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 18px;font-weight: normal;line-height: 1;margin-bottom: 16px;margin-right: 6px;margin-top: 4px;outline: 0 none;padding: 6px;}
.contents input[type="submit"]{color:#fff; padding:4px 10px; border-radius:8px; border:none; cursor:pointer; font-weight:bold; background-color:#cc0000}
.contents input[type="submit"]:hover{color:#fff; background-color:#ee0000;}
.contents select {color: #666;font-size: 14px;background: none repeat scroll 0 0 #FBFBFB;border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555; font-size: 14px;font-weight: normal;line-height: 1;margin-bottom: 5px;margin-right: 5px;margin-top: 4px;outline: 0 none;padding: 5px;}
/* .contents form ends here */
.contents {
    background-color: #F6F6F6;
    border-radius: 12px 12px 12px 12px;
    margin: 20px auto;
    padding: 20px;
    width:1050px;
}
.heading{font-size:18px;}
#ftppassword {float: left;width: 262px;}
.frmspan{float: left;margin: 15px 7px;}

/* Select fields CSS starts here */
.contents label {color: #666;font-size: 14px;}
.contents select{background: none repeat scroll 0 0 #FBFBFB; min-width:150px; border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 16px;font-weight: normal;line-height: 28px;margin-bottom: 16px;margin-right: 6px;outline: 0 none;padding: 6px;}
.contents select:focus{border-color:#bbbbbb;}
.contents select option{padding:2px 0;}
/* Select fields CSS starts here */
/* Select fields Graph ChartCSS starts here */
.contentsgc label {color: #666;font-size: 14px;}
.contentsgc select{background: none repeat scroll 0 0 #FBFBFB; min-width:150px; border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 16px;font-weight: normal;line-height: 28px;margin-bottom: 16px;margin-right: 6px;outline: 0 none;padding: 6px;}
.contentsgc select:focus{border-color:#bbbbbb;}
.contentsgc {background-color: #F6F6F6;border-radius: 12px 12px 12px 12px;margin:20px auto;padding:40px;width: 1100px;}
.contentsgc select option{padding:2px 0;}
/* Select fields CSS starts here */
/* Icon Sprite */
.moveicons > a{background-image:url("../images/iconSprite.png");background-repeat:no-repeat;    border: 1px solid #999999;display: block;height: 20px;width: 20px; margin:5px}
.moveicons > a:hover{ text-decoration:none;border:1px solid #ccc}
.addAllRight {background-position:0 -125px;}
.addAllRight:hover{background-position:-200px -125px; }
.addRight {background-position:0 -75px;}
.addRight:hover{background-position:-200px -75px; }
.addLeft{background-position:0 -100px;}
.addLeft:hover{background-position:-200px -100px; }
.addAllLeft{background-position:0 -150px;}
.addAllLeft:hover{background-position:-200px -150px; }
/* Icon Sprite Ends */

table td span {color: #999999;}

.contents {background-color: #F6F6F6;border-radius: 12px 12px 12px 12px;margin: 20px auto;padding: 20px;width: 1050px;}
.heading{font-size:18px;}

.tblmapfields{border:1px solid #ccc}
.tblmapfields td{border-bottom:1px solid #ccc; line-height:22px}
.tblmapfields td{border-right:1px solid #ccc}
.tblmapfields tr > td:last-child{border-right:none}
.tblmapfields tr:last-child td{border-bottom:none}

#loading-popup-box {display: none;background-image: url("../images/ajax-loader.gif");background-repeat: no-repeat;background-position: center center;text-align: center;margin-left:230px;height: 400px;}
#footer {bottom: 0;clear: both;margin: 10px 0;text-align: center;width: 100%;}
.menu{
  font-size:15px;
  display:inline;
  margin:0px;
  padding:0px;
}
.menu a{
  display:block;
  text-align:left;
  padding-left:9px;
  color:#333333;
 padding-top: 3px;
  text-decoration:none;
}
.menulist a{
	width:127px;
}
#menulist1{
  position:absolute;
  top:33px;
  border:1px solid #113399;
  background-color:#88a5ff;
  display:none;
}
#menulist2{
  background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    display: none;
    margin-left: 184px;
    position: absolute;
    top: 56px;
    width: 158px;
}
#menu1{
	border:1px solid #efefef;
	 border-radius: 10px 0px 0px 10px;
	 background:#efefef;
}
#menu2{
	
	 background:#efefef;
}


#menu2:hover #menulist2{
  margin-top:13px;
  display:block;
  overflow: hidden;
  z-index: 1;
}

.menulist div{
  margin-left:0px;
  padding:3px;
  
}
.menulist li{
  list-style:none;

  padding:3px;
  margin-left:0px;
  display:block;
}

.menulist div:hover,.menulist li:hover{
  background-color:#ffffff;
  color:#333333;
}
.tabs{
	float:right;
	margin-top:50px;
	    margin-right: 29px;
	}
	
th {
    background: none repeat scroll 0 0 #777777;
    color: #FFFFFF;
}
td, th {
    padding: 5px;
}
.heading {
    float: left;
    font-size: 16px;
    height: 33px;
    padding: 21px 0 0 10px;
}
.breadcrumb2 {
   font: 15px Helvetica,Arial,Sans-Serif;
   list-style: none outside none;
   overflow: hidden;
   margin-top:5px;
   margin-left:-30px;
}
.breadcrumb2 li {
   float: left;
}
.first {
   padding-left: 5px !important;
}
.breadcrumb2 li a {
   background-color: #bd2828;
   color: white;
   display: block;
   float: left;
   padding: 5px 0 5px 40px;
   position: relative;
   text-decoration: none;
}
.breadcrumb2 li a:after {
   border-bottom: 50px solid transparent;
   border-left: 29px solid #bd2828;
   border-top: 50px solid transparent;
   content: " ";
   display: block;
   height: 0;
   left: 100%;
   margin-top: -50px;
   position: absolute;
   top: 50%;
   width: 0;
   z-index: 2;
}
.breadcrumb2 li a:before {
   border-bottom: 50px solid transparent;
   border-left: 30px solid white;
   border-top: 50px solid transparent;
   content: " ";
   display: block;
   height: 0;
   left: 100%;
   margin-left: 1px;
   margin-top: -50px;
   position: absolute;
   top: 50%;
   width: 0;
   z-index: 1;
}
.breadcrumb2 li:first-child a {
   padding-left: 5px;
}


******************** Graph charts ****************
.charticons{float:right;margin-right:4px; height:30px; border: 1px solid #cccccc; border-radius:5px;background:#efefef}
.charticons span{float:left; border-right:1px solid #cccccc; height:30px; }
.charticons span:hover{background:#cccccc; cursor:pointer} 
.charticons span.selected{background:#ccc;}
.charticons span.selected img {opacity: 0.7;}
#buttonclass{
	background-color: #CC0000;
    border: medium none;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 4px 10px;
}
#buttonclass:hover{color:#fff; background-color:#ee0000;}
.create_form
{
float:right;
margin-bottom:10px;
}
.tblewidth
{
width:100%;
}
.tblewidth tr:nth-child(even) {
   background-color: #F4F3F1;
}
.tblewidth tr:nth-child(odd) {
    background-color: #FDEEB0;
}
#smtpdetails,#campaigns,#listrows td
{
	text-align: center;
}
