@charset "utf-8";
/* CSS Document */
* {margin: 0;padding: 0;}
body{font-size:0.75em;margin: 0;padding: 0; color:#222; font-family:Arial,Helvetica,sans-serif}
.clear {clear: both;}
a{color: #CC0000;font-size: 14px;text-decoration: none;}
a:hover{text-decoration:underline}
#header {border-bottom: 2px solid #666666;margin: 0 auto;overflow: hidden;padding: 0;width: 100%;}
#logo {float: left;margin:5px;}	
.logo_text{color: #333333;float: left;font-size: 26px;margin: 22px 10px;}
.header_right {color: #333333;float: right;font-size: 14px;margin: 10px 10px 0 0;}
.welcome{float:right}
#navigation{float:right; background-color:#efefef; border-radius:8px; margin-top:10px;clear:both}
#navigation a { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color: #333333;font-size: 13px; font-weight:bold; padding: 8px 14px; float:left; border-right:1px solid #ccc;}
#navigation a:hover {text-decoration:none; color:#fff; background:#CC0000;}
#navigation a.selected {color:#fff; background:#CC0000;}
.left-nav{border-radius:8px 0 0 8px;}
.right-nav{border-radius:0 8px 8px 0; border-right:none !important;}
#wrapper {width:100%;margin:0;}
.content{float:left; width:100%; }
#content {min-height:500px;}
#content-left {	width:240px;float:left;margin:10px;	#border:1px outset #345D6E;}
#content-main {position:relative;}
.workflow{text-align:center; margin-top:20px;}
.workflow span {margin: 0 30px;}
.arrow{margin:0 20px}
/* Login Form CSS starts here */
#login_form {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #E5E5E5;box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
font-weight: normal;margin: 40px auto;padding: 26px 24px; width:300px}
#login_form label {color: #777777;font-size: 14px;}
#login_form input[type="text"], input[type="password"]{background: none repeat scroll 0 0 #FBFBFB;border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 24px;font-weight: 200;line-height: 1;margin-bottom: 16px;margin-right: 6px;margin-top: 4px;outline: 0 none;padding: 3px;width: 97%;}
#login_form input[type="text"]:focus, input[type="password"]:focus{border-color:#bbbbbb;}
#login_form input[type="submit"]{color:#333; padding:4px 8px; border-radius:6px; border:1px solid #999; cursor:pointer; font-weight:bold}
#login_form input[type="submit"]:hover{color:#fff; background-color:#999;}
.forgotpassword{float:right;}
#forgotTable{display:none}
.delete{border:none}
/* Login Form CSS ends here */
/* .contents form CSS starts here */
.contents label {color: #666;font-size: 14px;}
.contents input[type="text"], input[type="password"],textarea{background: none repeat scroll 0 0 #FBFBFB;border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 18px;font-weight: normal;line-height: 1;margin-bottom: 16px;margin-right: 6px;margin-top: 4px;outline: 0 none;padding: 6px;}
.contents input[type="text"]:focus, textarea:focus{border-color:#bbbbbb;}
.contents input[type="file"]{background: none repeat scroll 0 0 #FBFBFB;border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 18px;font-weight: normal;line-height: 1;margin-bottom: 16px;margin-right: 6px;margin-top: 4px;outline: 0 none;padding: 6px;}
.contents input[type="submit"], input[type="reset"]{color:#fff; padding:8px 20px; border-radius:8px; border:none; cursor:pointer; font-weight:bold; background-color:#cc0000}
.contents input[type="submit"]:hover, input[type="reset"]:hover{color:#fff; background-color:#ee0000;}
/* .contents form CSS ends here */

#ftppassword {float: left;width: 262px;}
.frmspan{float: left;margin: 15px 7px;}

/* Select fields CSS starts here */
.contents label {color: #666;font-size: 14px;}
.contents select{background: none repeat scroll 0 0 #FBFBFB; min-width:150px; border: 1px solid #E5E5E5;box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;color: #555555;font-size: 16px;font-weight: normal;line-height: 28px;margin-bottom: 16px;margin-right: 6px;outline: 0 none;padding: 6px;}
.contents select:focus{border-color:#bbbbbb;}
.contents select option{padding:2px 0;}
/* Select fields CSS starts here */

/* Icon Sprite */
.moveicons > a{background-image:url("../images/iconSprite.png");background-repeat:no-repeat;    border: 1px solid #999999;display: block;height: 20px;width: 20px; margin:5px}
.moveicons > a:hover{ text-decoration:none;border:1px solid #ccc}
.addAllRight {background-position:0 -125px;}
.addAllRight:hover{background-position:-200px -125px; }
.addRight {background-position:0 -75px;}
.addRight:hover{background-position:-200px -75px; }
.addLeft{background-position:0 -100px;}
.addLeft:hover{background-position:-200px -100px; }
.addAllLeft{background-position:0 -150px;}
.addAllLeft:hover{background-position:-200px -150px; }
/* Icon Sprite Ends */

table td span {color: #999999;}

.contents {background-color: #F6F6F6;border-radius: 12px 12px 12px 12px;margin: 20px auto;padding: 20px;width: 860px;}
.heading{font-size:18px;}

.tblmapfields{border:1px solid #ccc}
.tblmapfields td{border-bottom:1px solid #ccc; line-height:22px}
.tblmapfields td{border-right:1px solid #ccc}
.tblmapfields tr > td:last-child{border-right:none}
.tblmapfields tr:last-child td{border-bottom:none}

a.btnNext {background-color: #CC0000;border: medium none;border-radius: 3px 3px 3px 3px;color: #FFFFFF;cursor: pointer;float: right;font-size: 14px;font-weight: bold;padding: 3px 10px; margin:0 4px;}
a.btnNext:hover{color:#fff; background-color:#ee0000;}

#enhanceTable th{color:#fff;}
#enhanceTable td{padding:4px;}

#loading-popup-box {display: none;background-image: url(/images/ajax-loader.gif);background-repeat: no-repeat;background-position: center center;text-align: center;margin-left:230px;height: 400px;}
#footer {bottom: 0;clear: both;margin: 10px 0;text-align: center;width: 100%;}